@import url(colors.css);

html{
  background-color: var(--c-background-0);
  /* background-color: #faf; */
  overflow-y: scroll;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  /* margin: 15px; */
  margin: 0px;
  margin-bottom: 0;
  color: var(--c-text-white);
  font-family: 'Times New Roman', Times, serif;
}

span{
  font-style: italic;
}

a{
  text-decoration: none;
}

/* IMAGES */
.last-image{
  border-radius: 0 0 10px 10px;
}

.img-full-width{
  width: 100%;
}

/* LOGO */
#big-logo{
  position: absolute;
  top: 10vh;
  left: 40vw;
  width: 20vw;
  height: auto;
  pointer-events: none;
  /* background-color: #daf; */
}

#big-logo img{
  width: 100%;
  height: auto;
  pointer-events: none;
  /* background-color: #faf; */
}

#big-logo p{
  color: var(--c-main-0);
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin: 10px 0 0 0;
  /* background-color: #faf; */
}

/* FOOTER */
footer{
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

footer p{
  /* color: var(--c-main-2); */
  color: var(--c-main-0);
}

footer a{
  /* color: var(--c-main-2); */
  color: var(--c-main-0);
}

@media only screen and (max-width: 600px) {
  #big-logo{
    top: 2.5vh;
    left: 37.5vw;
    width: 25vw;
  }

  #big-logo p{
    font-size: 0.8rem;
  }
}
