@import url(colors.css);

html{
  background-color: var(--c-background-0);
  /* background-color: #faf; */
  overflow-y: scroll;
  overflow-x: hidden;
}

body{
  overflow-x: hidden;
  margin: 15px;
  margin-bottom: 0;
  color: var(--c-text-white);
  font-family: Arial, Helvetica, sans-serif;
}

span{
  font-style: italic;
}

a{
  text-decoration: none;
}

/* IMAGES */
.first-image{
  border-radius: 20px 20px 0 0;
}

.last-image{
  border-radius: 0 0 20px 20px;
}

.img-full-width{
  width: 100%;
}

/* FOOTER */
footer{
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  text-align: center;
}

footer p{
  /* color: var(--c-main-2); */
  color: var(--c-main-0);
}

footer a{
  /* color: var(--c-main-2); */
  color: var(--c-main-0);
}
