html{
  background-color: black;
}

body{
  background-color: #212121;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 4vh;
  height: 90vh;
  width: 90vw;
  text-align: center;
  font-family: monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
  border-radius: 15px; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
}

.bar{
  border-radius: 15px 15px 0 0;
  background-color: #2a2a2a;
  height: 3rem;
  width: 100%;
  display: flex;
}

.bar-info{
  margin: 0 auto;
  font-size: 1.5rem;
  padding-top: 0.5rem;
  width: fit-content;
  color: #FFCDBC;
  /* background-color: red; */
}

.bar-close{
  background-color: transparent;
  border: none;
  color: #FFCDBC;
  font-size: 1.5rem;
}

#terminal{
  text-align: left;
  width: 100%;
  height: calc(90vh - 3rem) !important;
  /* background-color: red; */
  overflow-x: hidden;
  overflow-y: scroll;
}

.command-div{
  display: flex;
  height: 1.5rem;
  flex-direction: row;
}

.command{
  all: unset;
  font-size: 1.25rem;
  margin-left: 0.4rem;
  color: #aafaaa;
}

#input{
  all: unset;
  width: fit-content;
  margin: 0;
  margin-left: 0.75rem;
  font-size: 1.25rem;
  overflow: visible;
  border: none;
  color: #FFCDBC;
  width: 0.1rem;
  border-right: 0.8rem solid #aafaaa;
  caret-color: transparent;
  animation: show 1s forwards infinite;
}

@keyframes show {
  0%{
    border-right: 0.8rem solid rgba(170, 250, 170, .0);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  50%{
    border-right: 0.8rem solid rgba(170, 250, 170, 1);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box;
  }
  100%{
    border-right: 0.8rem solid rgba(170, 250, 170, .0);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}

.line{
  margin: 0;
  color: #FFCDBC;
  font-size: 1.25rem;
  margin-left: 0.4rem;
}

a{
  transition: all 0.3s;
  text-decoration: none;
  color: #daf;
}

a:hover{
  color: #faf;
}

p{
  white-space: pre;
}

#pc{
  display: block;
}
#mobil{
  display: none;
}

@media screen and (max-width: 1200px) {
  #pc{
    display: none;
  }
  #mobil{
    display: block;
  }
  body{
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    height: 100%;
    width: 90vw;
    padding: 2vw;
  }
  .box-holder{
    display: flex;
    flex-direction: column;
    gap: 1rem 2rem;
  }
  .box{
    display: flex;
    background-color: #3a3a3a;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
  }

  #heading{
    width: 100%;
  }
  #heading h1{
    font-size: 8vw;
    flex-grow: 1;
    color: #aafaaa;
    justify-self: center;
  }

  #about-box{
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;
  }
  .about h2{
    font-size: 5.5vw;
    flex-grow: 1;
    color: #aafaaa;
    justify-self: center;
  }
  #about-text p{
    padding: 0.5rem;
    padding-left: 1rem;
    text-align: left;
    font-size: 5vw;
    flex-grow: 1;
    color: #FFCDBC;
    text-wrap: wrap;
    justify-self: center;
  }

  #banner p{
    font-size: 2.7vw;
    color: #FFCDBC;
  }

  #interests-box{
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;
  }
  #interests ul{
    padding-left: 5vw;
    text-align: left;
    font-size: 5vw;
    color: #FFCDBC;
    text-wrap: wrap;
  }
  #interests li{
    color: #FFCDBC;
    text-wrap: wrap;
    justify-self: center;
  }
  #interests li::marker {
    content: '> ';
  }

  #project-box{
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;
  }
  #project ul{
    padding-left: 5vw;
    text-align: left;
    color: #FFCDBC;
    text-wrap: wrap;
  }
  #project li{
    color: #FFCDBC;
    font-size: 4.2vw;
    text-wrap: wrap;
    justify-self: center;
  }
  #project li::marker {
    content: '~ ';
  }
  

  #social-box{
    display: flex;
    flex-direction: column;
    gap: 1rem 1rem;
  }
  #social-content{
    display: flex;
    flex-direction: row;
    gap: 1rem 1rem;
  }
  #social-box h1{
    font-size: 6.5vw;
    flex-grow: 1;
    color: #aafaaa;
    justify-self: center;
  }
  #social-box ul{
    padding-left: 5vw;
    text-align: left;
    font-size: 6vw;
    color: #FFCDBC;
    text-wrap: wrap;
  }
  #social-box li{
    color: #daf;
    text-wrap: wrap;
    justify-self: center;
  }
  #social-box li::marker {
    content: '# ';
  }

  #footer-box h2{
    color: #daa998;
  }
}
